spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/payment_gateway
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    com.paymentgateway: INFO
    org.springframework.web: INFO
    org.flywaydb: INFO

